.about {

   &__wrapper {
      padding: 150px 106px 24px;
      position: relative;
   }

   &__link {
      position: absolute;
      font-family: Larsseit;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.06em;
      text-align: left;
      color: #22356F;
   }

   &__text {
      max-width: 590px;
      font-family: Larsseit;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.005em;
      text-align: left;
      color: #22356F;
      margin: 0 auto;
      margin-bottom: 76px;
   }

   &__sign {
      font-family: Larsseit;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-align: center;
      color: #22356F80;
   }
}