.footer {

   &__top {
      display: flex;
   }

   &__information {
      padding: 98px 70px 100px;
      display: flex;
   }

   &__item {
      max-width: 200px;
      margin-right: 40px;
   }

   
   &__title {
      margin-bottom: 54px;
      font-family: Larsseit;
      font-size: 14px;
      line-height: 11px;
      letter-spacing: -0.006em;
      text-align: left;
      color: #22356F;
   }

   &__text {
      margin-bottom: 35px;
      font-family: Larsseit;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: -0.006em;
      text-align: left;
      color: #22356F80;
   }

   &__working {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      font-family: Larsseit;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: -0.006em;
      text-align: left;
      color: #22356F80;
   }

   &__phone-link {
      margin-bottom: 10px;
      font-family: Larsseit;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: -0.006em;
      text-align: left;
      color: #22356F80;
   }

   &__bottom {
      height: 80px;
      background-color: #62D0DF;
      display: flex;
      align-items: center;
      padding-left: 180px;
   }

   &__signature {
      font-family: Larsseit;
      font-size: 14px;
      line-height: 11px;
      letter-spacing: -0.006em;
      color: #FFF;
   }
}