.header {

   .container {
      max-width: 1062px;
      margin: 0 auto;
      padding: 0 10px;
   }

   &__top {
      margin: 28px 0 186px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }


   &__logo {
      color: #62D0DF;
   }

   &__btn {
      font-family: Larsseit;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
   }

   &__title {
      max-width: 484px;
      margin-bottom: 50px;
      font-family: Larsseit;
      font-size: 48px;
      line-height: 53px;
      letter-spacing: -0.035em;
      text-align: left;
      color: #22356F;
   }

   &__text {
      max-width: 470px;
      font-family: Larsseit;
      font-size: 24px;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
      color: #22356F;
   }

   &__wrapper {
      display: flex;
   }
}