.lifestyle {

   &__wrapper {
      padding: 22px 0 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }

   &__item {
      height: 240px;
      padding-left: 105px;
   }

   &__title {
      padding-top: 55px;
      margin-bottom: 28px;
      font-family: Larsseit;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #22356F;
   }

   &__text {
      max-width: 298px;
      font-family: Larsseit;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #22356F80;
   }
}