.menu {

   &__list {
      min-width: 234px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__item {
      font-family: Larsseit;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #22356F;
   }
}